* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.myCode a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 5%;
}

.myCode a:hover {
content: "My Github Code";
text-decoration: underline;
color: wheat;
}

.container {
  margin: 4em 2em 2em 2em;
  /* border: 2px solid magenta; */
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.frame {
  margin-left: -25%;
  /* border: 3px solid magenta; */
  display: flex;
  justify-content: space-between;
  height: 80vh;
  padding-top: 30%;
  width: 130vw;
  position: relative;
}

.frame div {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid blue;
  margin-top: 30%;
}

.matchDiv {
  /* border: 3px solid blue; */
  height: 60%;
  display: flex;
  /* justify-content: center; */
}

.matchDiv img {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 100px; */
  margin: 0 auto;
  height: 60%;
  animation: shakeMatch 3s forwards;
}

.circle1 {
  position: absolute;
  z-index: 0;
  animation: 3s leftcircle forwards;
  background-image: url("img/man.jpg");
  background-size: cover;
  background-position-x: 0px;
  background-repeat: no-repeat;
}

.circle2 {
  position: absolute;
  z-index: 1;
  right: 0;
  animation: 3s rightcircle forwards;
  background-image: url("img/woman.jpg");
  background-size: cover;
  background-position-x: -15px;
  background-repeat: no-repeat;
}

@keyframes leftcircle {
  0% {
    margin-top: 20%;
  }

  10% {
    margin-top: 10%;
    margin-left: 10%;
  }
  30% {
    margin-left: 50%;
    border-color: gold;
  }
  60% {
    margin-left: 40%;
    border-color: gold;
  }
  70% {
    margin-left: 40%;
    border-color: gold;
  }
  85% {
    margin-left: 40%;
    border-color: gold;
  }
  100% {
    margin-top: 0;
    margin-left: 30%;
    border-color: white;
    box-shadow: 0px 0px 40px 5px rgb(202, 199, 181);
  }
}

@keyframes rightcircle {
  0% {
    margin-top: 20%;
  }

  10% {
    margin-top: 10%;
    margin-right: 10%;
  }
  30% {
    margin-right: 50%;
    border-color: gold;
  }
  60% {
    margin-right: 40%;
    border-color: gold;
  }
  70% {
    margin-right: 40%;
    border-color: gold;
  }
  85% {
    margin-right: 40%;
    border-color: gold;
  }
  100% {
    margin-top: 0;
    margin-right: 30%;
    border-color: white;
    box-shadow: 0px 3px 40px 5px rgb(207, 204, 186);
  }
}

@keyframes shakeMatch {
  0% {
    rotate: 30deg;
  }
  5% {
    rotate: -10deg;
  }
  20% {
    rotate: 20deg;
  }
  30% {
    transform: scale(1.25);
    rotate: -30deg;
  }
  45% {
    rotate: -10deg;
  }
  55% {
    rotate: 20deg;
  }
  60% {
    rotate: 30deg;
  }
  70% {
    rotate: -10deg;
  }
  79% {
    rotate: 20deg;
    bottom: 30px;
  }
  85% {
    rotate: 30deg;
  }
  90% {
    rotate: -10deg;
  }
  100% {
    bottom: 60px;
    rotate: 0deg;
  }
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

button {
  background-color: #9880ff;
  border: 3px solid white;
  border-radius: 8%;
  padding: 2em;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  margin: 7%;
}
